{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        {% include 'partials/header.html' %}
    </header>
    <main class="main-container">
        {% block content %}
        {% endblock content %}
    </main>
    </div>
</body>
</html>